.boxwfooter {
	display: inline-block;
}

.ocotcatbox img {
	height: 200px;
	width:200px;
	border: .5px solid gray;`
}

div.rightfooter{
	height: 40px;
	width: 145px;
	font-family: Arial;
	font-size: 9px;	
}

div.rightfooter p {
	float: right;
	margin-top: 8px;
}
	
span.bold {
	font-weight: bold;
} 
	
.rightfooter img {
	height: 25px;
	width:25px;
	float: right;
	margin-top: -10px;	
}

.footer {
	display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    height: 30px;
	width: 200px;
	border-bottom: .5px solid gray;`
}

p {
	font-family: Arial;
	font-size: 9px;
	font-style: italic;
	display: inline;
	line-height: px;
}


	

